<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlet.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminviewlecturer</servlet-name>
        <servlet-class>servlet.adminviewlecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminviewspacemanager</servlet-name>
        <servlet-class>servlet.adminviewspacemanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminViewSpacemanager</servlet-name>
        <servlet-class>servlet.adminViewSpacemanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminVL</servlet-name>
        <servlet-class>servlet.adminVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>servlet.adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewlistLecturer</servlet-name>
        <servlet-class>servlet.viewlistLecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historylogin</servlet-name>
        <servlet-class>servlet.historylogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewlistSP</servlet-name>
        <servlet-class>servlet.viewlistSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormBookingLab</servlet-name>
        <servlet-class>servlet.FormBookingLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormBookingRoom</servlet-name>
        <servlet-class>servlet.FormBookingRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLecturer</servlet-name>
        <servlet-class>servlet.EditLecturer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminviewlecturer</servlet-name>
        <url-pattern>/adminviewlecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminviewspacemanager</servlet-name>
        <url-pattern>/adminviewspacemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminViewSpacemanager</servlet-name>
        <url-pattern>/adminViewSpacemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminVL</servlet-name>
        <url-pattern>/adminVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewlistLecturer</servlet-name>
        <url-pattern>/viewlistLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historylogin</servlet-name>
        <url-pattern>/historylogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewlistSP</servlet-name>
        <url-pattern>/viewlistSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormBookingLab</servlet-name>
        <url-pattern>/FormBookingLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormBookingRoom</servlet-name>
        <url-pattern>/FormBookingRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLecturer</servlet-name>
        <url-pattern>/EditLecturer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
