<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlet.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminviewlecturer</servlet-name>
        <servlet-class>servlet.adminviewlecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminviewspacemanager</servlet-name>
        <servlet-class>servlet.adminviewspacemanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminViewSpacemanager</servlet-name>
        <servlet-class>servlet.adminViewSpacemanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminVL</servlet-name>
        <servlet-class>servlet.adminVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>servlet.adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewlistLecturer</servlet-name>
        <servlet-class>servlet.viewlistLecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historylogin</servlet-name>
        <servlet-class>servlet.historylogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewlistSP</servlet-name>
        <servlet-class>servlet.viewlistSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingLab</servlet-name>
        <servlet-class>servlet.bookingLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingServlet</servlet-name>
        <servlet-class>servlet.bookingRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingLabServlet</servlet-name>
        <servlet-class>servlet.bookingLabServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formbookingroom</servlet-name>
        <servlet-class>servlet.formbookingroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingRoomServlet</servlet-name>
        <servlet-class>servlet.bookingRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formbookinglab</servlet-name>
        <servlet-class>servlet.formbookinglab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editlect</servlet-name>
        <servlet-class>servlet.editlect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilelect</servlet-name>
        <servlet-class>servlet.profilelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewlistbooking</servlet-name>
        <servlet-class>servlet.viewlistbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>servlet.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yana</servlet-name>
        <servlet-class>servlet.yana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingRoom</servlet-name>
        <servlet-class>servlet.bookingRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminviewlecturer</servlet-name>
        <url-pattern>/adminviewlecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminviewspacemanager</servlet-name>
        <url-pattern>/adminviewspacemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminViewSpacemanager</servlet-name>
        <url-pattern>/adminViewSpacemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminVL</servlet-name>
        <url-pattern>/adminVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewlistLecturer</servlet-name>
        <url-pattern>/viewlistLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historylogin</servlet-name>
        <url-pattern>/historylogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewlistSP</servlet-name>
        <url-pattern>/viewlistSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingLab</servlet-name>
        <url-pattern>/bookingLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingServlet</servlet-name>
        <url-pattern>/bookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingLabServlet</servlet-name>
        <url-pattern>/bookingLabServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formbookingroom</servlet-name>
        <url-pattern>/formbookingroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingRoomServlet</servlet-name>
        <url-pattern>/bookingRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formbookinglab</servlet-name>
        <url-pattern>/formbookinglab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editlect</servlet-name>
        <url-pattern>/editlect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilelect</servlet-name>
        <url-pattern>/profilelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewlistbooking</servlet-name>
        <url-pattern>/viewlistbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yana</servlet-name>
        <url-pattern>/yana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingRoom</servlet-name>
        <url-pattern>/bookingRoom</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
